config/secrets.yml
# spec/fixtures/
!spec/fixtures/.keep
coverage/*
!coverage/.resultset.json
# spec/fixtures/cassettes/
spec/fixtures/*.html
spec/fixtures/*.txt
# spec/fixtures/*.yml
# spec/fixtures/*.json
lib/gemini_*
lib/genius_*
lib/lingo_beats.rb
lib/scraper.rb
vendor/*
*.db
# Ignore application configuration
/config/application.yml
.bundle/
app/domain/songs/services/__pycache__
.vscode/